<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ticketAccess</display-name>
  
  <servlet>
        <servlet-name>concert</servlet-name>
        <servlet-class>ncu.im3069.group14.controller.ConcertController</servlet-class>
  </servlet>

  <servlet-mapping>
        <servlet-name>concert</servlet-name>
        <url-pattern>/api/concert.do</url-pattern>
  </servlet-mapping>
    
</web-app>