 /*行距*/
 #space{
        width:21vh;
        text-align: center;
    }
 .border {
    height:4vh;
}
#concert-name{
    padding-left:4vh;
    padding-top:16vh;
    font-size:2.8rem;
}
#concert-data{
    padding-top:15vh;
    font-size:1rem;
}
#logo{
    width:7vh;

}

.order_content{
    padding-top:3%;
}

.card{
    width:73%;
}
.order_detail{
    padding-left:2%;padding-top:1%;padding-bottom:1%;
}
.more{
    padding-left:30%;padding-top:4%;
}
