
body {
  background-image: url("https://img.tixbar.com/concert/concert-list.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten; 
}

.ticket input {
  float: right;
  padding: 6px;
  border: none;
  margin: 1% 0 0;
  font-size: 17px;
  border: 1px solid #ccc;
}

.ticket button {
  float: right;
  padding: 7px 10px;
  margin: 1% 0 0;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: #DDDDDD;
}

.ticket button:hover {
  background: #ccc;
}

.ticket body {
  filter: Alpha(opacity=0.5);
  width: 200%;
  background-size: 100% 100%;
}

/* .background { 
  background-color: #FFEE99;
  border: 13px solid #FFEE99;
  padding: 13px;
  opacity: 0.7;
} */

/* .ticket {
  background-color: #444444;
  border: 13px solid #444444;
  padding: 13px;
  opacity:0.7;
} */
.regname label {
  font-size: 200%;
  color: black;
  margin: 0 0 0 30%;
  font-weight: bold;
}

.regname input {
  width: 30%;
  padding: 5px;
  border: 2px black solid;
  margin: 0 35% 0 0;
}

.regphone label {
  font-size: 200%;
  color: black;
  margin: 0 0 0 30%;
  font-weight: bold;
}

.regphone input {
  width: 30%;
  padding: 5px;
  border: 2px black solid;
  margin: 0 35% 0 0;
}

.regidnumber label {
  font-size: 200%;
  color: black;
  margin: 0 0 0 28%;
  font-weight: bold;
}

.regidnumber input {
  width: 30%;
  padding: 5px;
  border: 2px black solid;
  margin: 0 35% 0 0;
}

.regemail label {
  font-size: 200%;
  color: black;
  margin: 0 0 0 29.2%;
  font-weight: bold;
}

.regemail input {
  width: 30%;
  padding: 5px;
  border: 2px black solid;
  margin: 0 35% 0 0;
}

.regpassword label {
  font-size: 200%;
  color: black;
  margin: 0 0 0 30%;
  font-weight: bold;
}

.regpassword input {
  width: 30%;
  padding: 5px;
  border: 2px black solid;
  margin: 0 35% 0 0;
}

.regaddress label {
  font-size: 200%;
  color: black;
  margin: 0 0 0 30%;
  font-weight: bold;
}

.regaddress input {
  width: 30%;
  padding: 5px;
  border: 2px black solid;
  margin: 0 35% 0 0;
}

.regdob label {
  font-size: 200%;
  color: black;
  margin: 0 0 0 29.2%;
  font-weight: bold;
}

.regdob input {
  width: 30%;
  padding: 5px;
  border: 2px black solid;
  margin: 0 35% 0 0;
}

.submit input {
  cursor: pointer;
  width: 5%;
  margin: 0 48% 0 0;
  background-color: #CCEEFF;
  border: 2px solid#CCDDFF;
}
